/* Setting Up Orientation */

/* TODO
-DONE Make everything larger
- spacee it from the top */
/* tictactoe title animation fade out */
/* color yellow-orange for "O" and redish-orange for "X" */
/* when done, new game button pops up */
/* keyframes for the tictactoe title */
/* keyframes for the tictactoe buttons stagger delay*/
/* keyframes drop all non winning tiles */

/* Does font size change in mobile?-> check if px in root is responsive */
:root {
  /* display: flex;
    justify-content: center;
    align-items: center; */
  font-size: 36px;

  /* to mitigate button movement */
  --text-color: hsl(0, 0%, 99%);
}

/* why do root styles not cascade?? */
/* had to make a temp class to rectify it */
.temp {
  display: flex;
  justify-content: center;
  align-items: center;
}
aside {
  display: flex;
  justify-content: flex-start;
  color: gray;
}

.layout {
  display: grid;
  /* gap: 1rem; */
  /* grid-template-columns: repeat(5, auto); */
  grid-auto-columns: minmax(
    3rem,
    auto
  ); /* thought that this would handle initial min column sizing, but no it doesn't */
      /* nvm it worked */
  grid-template-rows: 3rem 2rem auto 1rem 1rem;
  justify-items: center;
  /* align-items: start; */
  /* grid-template-rows: 1rem 3rem 1rem 1rem; */

  grid-template-areas:
    ". . ."
    "a a a"
    "b b b"
    ". c c"
    ". d ."
    "e e e";

  /* grid-template-rows: repeat(3, 1fr);
    grid-auto-columns: 100px; */
}

header {
  grid-area: a;
}

main {
  grid-area: b;
}

footer {
  grid-area: c;
  justify-self: start;
  align-self: start;
  font-size: 0.7rem;
}
footer input {
  font-size: 0.55rem;
  width: 0.75rem;
}
.try-again {
    grid-area: d;
    font-size: .7rem;
    align-self: end;
    color: red;
}

/* button moves when clicked if there is no text 
   - solution: use hidden placeholder text
*/
.new-game {
  grid-area: e;
  width: 6rem;
  height: 1.5rem;

  background-color: var(--text-color);
  font-size: 0.75rem;
  border-radius: 0.25rem;
}

.hide-text {
  color: var(--text-color);
}

main div button {
  background-color: var(--text-color);

  /* centers content in boxes */
  display: inline-flex;
  align-items: center;
  justify-content: center;

  /* sizing the box */
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}
